body{
    padding: 0;
    margin: 0;

}
.navBar{
 background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
 color: white;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 text-align: center;
}
.navBrand{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.navLinks{
    display: flex;
}
.navLinks ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navLinks ul li{
    padding: 1rem;
    display: block;
    transition-property: background-color;
    transition-duration: 1s;
}
.navLinks ul li a{
    text-decoration: none;
    color: white;
    transition-property: color;
    transition-duration: 1s;

}
.toggleBtn{
    position: absolute;
    top: .7rem;
    right: .5rem;
    height: 30px;
    width: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
}
.toggleBtn .bars{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
}
.navLinks ul li:hover{
    background-color: gray;
    color: black;

}
.navLinks ul li a:hover{
    color: black;
}

@media(max-width:700px){
    .navBar{
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center ;
    }
    .navBrand{
        padding: 1rem;
    }
    .navLinks{
        display:none;
        text-align: center;
        align-items: center ;
    }
    .navLinks ul{
        font-size: 15px;
        padding: 0;
    }
    .navLinks ul li{
        margin-left: 35px;
    }
    .toggleBtn{
        display: flex;
    }
    .navLinks.active{
        display: block;
    }
}