body{
    padding: 0;
    margin: 0;
}
.navBar{
 background-color: black;
 color: white;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 text-align: center;
}
.navBrand{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.navLinks{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navLinks ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navLinks ul li{
    padding: 1rem;
    display: block;
    transition-property: background-color;
    transition-duration: 1s;
}
.navLinks ul li a{
    text-decoration: none;
    color: white;
    transition-property: color;
    transition-duration: 1s;

}
.navLinks ul li:hover{
    background-color: gray;
    color: black;

}
.navLinks ul li a:hover{
    color: black;
}


@media(max-width:700px){
    .navBar{
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center ;
    }
    .navBrand{
        padding: 1rem;
    }
    .navLinks{
        display:flex;
        text-align: center;
        align-items: center ;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .navLinks ul{
        font-size: 15px;
        padding: 0;

    }
    .navLinks ul li{
        margin-left: 35px;
    }
}